.Titulo1 {
    background-color: palegoldenrod;
}

.Paginas {
    background-color: pink;
}

.TituloPerro {
    background-color: mediumpurple;
}

.FotoPerroDescrip {
    background-color: palegreen;
}

.TituloDelArticulo {
    background-color: lightcoral;
}

.Articulos1y2 {
    background-color: mediumorchid;
}

.Bloc1 {
    background-color: cornflowerblue;
}

.Bloc2 {
    background-color: cornflowerblue;
}

.Bloc3 {
    background-color: cornflowerblue;
}

.Pie {
    background-color: antiquewhite;
}